#bubble-vis {
  width: 40%;
  height: 40%;
  position: absolute;
  left: 45%;
  top: 10%;
  padding: 10px 10px;
  /* transform: translate(-50%, -50%); */
}

#bubble-section .section-header {
  /* width: 90%;
  margin: 0; */
  text-align: left;
  /* position: absolute; */
  /* top: 15%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

#bubble-section .section-header p {
  margin: 0 auto;
}

.axis text {
  fill: black;
}