@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Gunter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  /* font-family: "Avenir", "Avenir Next", Helvetica Neue, Arial; */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  color: #000000;
  background-color: #f1ece6;
}

h1 { /* main website title */
  font-family: 'Roboto Slab', serif;
  display: inline;
  font-size: 100pt;
  line-height: 150px;
}
h2 { /* page titles */
  font-family: 'Roboto Slab', serif;
  font-size: 27pt; 
  line-height: 50px;
}
h3s { /* SSP subtitles */
  font-size: 20pt;
}
h3 { /* RS subtitles */
  font-family: 'Roboto Slab', serif;
  font-size: 20pt;
}
bp { /* bigger body text */
  font-size: 20pt;
  color: #202020;
}
p { /* main body text */
  font-size: 18pt;
  color: #202020;
}

a, a:visited {
  color: #4682B4;
}

.normal-letter-spacing {
  letter-spacing: 0.01em;
  font-size: 27pt;
}

.section-header {
  margin-left: 4%;
  padding-right: 175px;
}

.center-section-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  text-align: center;
}

.left-section-header {
  position: absolute;
  top: 20%;
  margin-left: 4%;
  padding-right: 1085px;
}

.up-section-header {
  position: absolute;
  top: 3%;
  margin-left: 4%;
  padding-right: 175px;
}

.section-content {
  margin-left: 4%;
  padding-right: 175px;
}

li {
  line-height: 1.7em;
}

.bar-graph-vis {
  position: absolute;
  left: 56%;
  top: 18%;
}

/* Fullpage Navigator */
.fp-tooltip {
  color: #000000 !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  mix-blend-mode: difference;
  margin-top: -7px;
  background-color: rgba(f1, ec, e6, 0.95);
  padding: 2px;
}
#fp-nav ul li a span {
  background-color: #000000;
}

/* Arrow animation (retrieved from https://freefrontend.com/css-arrows/) */
.arrow{
  cursor: pointer;
  position: absolute;
  top: 90%;
  left: 25%;
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #808080;
  border-right: 5px solid #808080;
  transform: rotate(45deg);
  margin: -8px;
  animation: animate 4s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.5s;
}
.arrow span:nth-child(3){
  animation-delay: -0.7s;
}
@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}

.hidden {
  display: none;
}

.red-color {
  color: #8B0000;
  font-weight: bold;
}

/* TODO: remove this after finishing the vis */
#priority-section img {
  height: 500px;
}