#map-vis svg {
  font-size: 14px !important
}

.state {
  opacity: 1;
  transition: opacity 0.5s, visibility 0.5s;
  stroke-width: 1;
}

.state.active {
  visibility: hidden;
  opacity: 0;
}

.county-boundary {
  stroke: black;
  stroke-width: 0.25;
}

#map-vis .mouse-on {
  stroke: red !important;
}

#map-vis text {
  opacity: 1;
  transition: opacity 0.5s, visibility 0.5s;
  font-size: 13px !important;
}

#map-vis text.hidden {
  display: initial;
  visibility: hidden;
  opacity: 0;
}

#map-vis line {
  opacity: 1;
  transition: opacity 0.5s, visibility 0.5s;
  fill: #000000;
  stroke: #000000 !important;
}

#map-vis line.hidden {
  display: initial;
  visibility: hidden;
  opacity: 0;
}

#DC-text {
  display: none;
}

#DE-text, #MD-text, #RI-text, #HI-text {
  fill: #000000;
  stroke: #000000;
}

#map-vis {
  width: 47%;
  height: 47%;
  position: absolute;
  left: 4%;
  top: 36%;
  padding: 10px 10px;
}

/* TODO: remove this after finishing the vis */
#tbd-linked-state-vis {
  position: absolute;
  top: 50%;
  left: 65%;
  padding: 10px 10px;
  border: 2px solid #000000;
}